body {
	margin: 0;
	font-family: 'Roboto', sans-serif;
	line-height: 1.6;
	color: #262525;
}

*,
*:befor {
	box-sizing: border-box;
}
*:after {
	box-sizing: border-box;
}

h1, h2, h3, h4, h5, h6 {
	margin: 0;
}

/*container*/

.container {
	width: 100%;
	max-width: 1920px;
	height: 60px;
	margin: 0 auto;
}

.container__end {
	width: 100%;
	max-width: 1920px;
	margin: 0 auto;
}
/*------------------------------------*/

/*header*/

.header {
	width: 100%;
	position: absolute;
	top: 30px;
	left: 0;
	right: 0;
	z-index: 1000;
}

.header__inner {
	display: flex;
	justify-content: space-between; 
	align-items: center;
}

.header__logo {
	font-size: 21px;
	font-weight: 800;
	color: #262525;
	margin-left: 117px;
	text-transform: uppercase;
}

.number {
	font-size: 21px;
	font-weight: 800;
	color: #262525;
	margin-right: 121px;
	text-transform: uppercase;
}
/*------------------------------------*/

/*nav*/

.nav {
	font-size: 18px;
	text-transform: uppercase;
}

.nav__link {
	display: inline-block;
	vertical-align: top;
	margin: 0 15px;
	position: relative;
	font-weight: 800;

	text-decoration: none;
	color: #262525;

	transition: color .1s linear;
}

.nav__link:after {
	content: "";
	display: block;
	width: 100%;
	height: 3px;

	background-color: #D88F5E;
	opacity: 0;

	position: absolute;
	top: 100%;
	left: 0;
	z-index: 1;

	transition: opacity .1s linear;
}

.nav__link:hover:after {
	opacity: 1;
}
/*------------------------------------*/

/*Block*/

.black__block {
	display: block;
	position: relative;
	width: 70px;
	height: 70px;
	margin-top: 35px;
	margin-left: 24px;
	background: #262525;
}

.black__block2 {
	display: block;
	position: relative;
	width: 70px;
	height: 70px;
	margin-left: 1800px;
	margin-right: 25px;
	background: #262525;


	z-index: 200;
}
.black__block2__line1 {
	display: block;
	height: 3px;
	width: 26px;
	background-color: #ffffff;
	position: absolute;
	left: 50%;
	margin-left: -20px;
	top: 50%;
	margin-top: -10px;

	transform: rotate(-45deg);
}
.black__block2__line2 {
	display: block;
	height: 3px;
	width: 44px;
	background-color: #ffffff;
	position: absolute;
	left: 50%;
	margin-left: -21px;
	top: 50%;
	margin-top: 10px;
}
.black__block2__line2:after {
	content: '';
	margin-top: 20px;

	display: block;
	height: 3px;
	width: 26px;
	background-color: #ffffff;
	position: absolute;
	left: 50%;
	margin-left: -13px;
	margin-top: 13px;
}
/*------------------------------------*/

/*Center-left*/
.menu {
	position: absolute;
	width: 270px;
	height: 251px;
	left: 10px;
	top: calc(50% - 251px/2 + 0.5px);
	color: #505050;

}
	
.menu__btn0 {
	font-weight: 300;
	font-size: 13px;
	line-height: 15px;
	letter-spacing: 0.567739px;
	cursor: pointer;

	position: relative;

	text-decoration: none;
	color: #505050;

	transition: color .1s linear;
}

.menu__btn0:after {
	content: "";
	position: static;
	display: block;
	width: 105px;
	height: 9px;

	background-color: #EBD8CC;
	opacity: 0;

	left: calc(50% - 111px/2);
	top: calc(50% - 9px/2 - 117.5px);

	transition: opacity .1s linear;
}

.menu__btn0:hover:after {
	opacity: 1;
}


.menu__btn0:hover {
	font-weight: bold;
	font-size: 14px;
	line-height: 16px;
	letter-spacing: 0.567739px;
	text-transform: uppercase;

	color: #262525;

	transition: font-weight .1s linear;
}

.menu__btn1 {
	font-weight: 300;
	font-size: 13px;
	line-height: 15px;
	letter-spacing: 0.567739px;
	cursor: pointer;

	position: relative;

	text-decoration: none;
	color: #505050;

	transition: color .1s linear;
}

.menu__btn1:after {
	content: "";
	position: static;
	display: block;
	width: 145px;
	height: 9px;

	background-color: #EBD8CC;
	opacity: 0;

	left: calc(50% - 111px/2);
	top: calc(50% - 9px/2 - 117.5px);

	transition: opacity .1s linear;
}

.menu__btn1:hover:after {
	opacity: 1;
}


.menu__btn1:hover {
	font-weight: bold;
	font-size: 14px;
	line-height: 16px;
	letter-spacing: 0.567739px;
	text-transform: uppercase;

	color: #262525;

	transition: font-weight .1s linear;
}

.menu__btn2 {
	font-weight: 300;
	font-size: 13px;
	line-height: 15px;
	letter-spacing: 0.567739px;
	cursor: pointer;

	position: relative;

	text-decoration: none;
	color: #505050;

	transition: color .1s linear;
}

.menu__btn2:after {
	content: "";
	position: static;
	display: block;
	width: 120px;
	height: 9px;

	background-color: #EBD8CC;
	opacity: 0;

	left: calc(50% - 111px/2);
	top: calc(50% - 9px/2 - 117.5px);

	transition: opacity .1s linear;
}

.menu__btn2:hover:after {
	opacity: 1;
}


.menu__btn2:hover {
	font-weight: bold;
	font-size: 14px;
	line-height: 16px;
	letter-spacing: 0.567739px;
	text-transform: uppercase;

	color: #262525;

	transition: font-weight .1s linear;
}

.menu__btn3 {
	font-weight: 300;
	font-size: 13px;
	line-height: 15px;
	letter-spacing: 0.567739px;
	cursor: pointer;

	position: relative;

	text-decoration: none;
	color: #505050;

	transition: color .1s linear;
}

.menu__btn3:after {
	content: "";
	position: static;
	display: block;
	width: 95px;
	height: 9px;

	background-color: #EBD8CC;
	opacity: 0;

	left: calc(50% - 111px/2);
	top: calc(50% - 9px/2 - 117.5px);

	transition: opacity .1s linear;
}

.menu__btn3:hover:after {
	opacity: 1;
}


.menu__btn3:hover {
	font-weight: bold;
	font-size: 14px;
	line-height: 16px;
	letter-spacing: 0.567739px;
	text-transform: uppercase;

	color: #262525;

	transition: font-weight .1s linear;
}

.menu__btn4 {
	font-weight: 300;
	font-size: 13px;
	line-height: 15px;
	letter-spacing: 0.567739px;
	cursor: pointer;

	position: relative;

	text-decoration: none;
	color: #505050;

	transition: color .1s linear;
}

.menu__btn4:after {
	content: "";
	position: static;
	display: block;
	width: 137px;
	height: 9px;

	background-color: #EBD8CC;
	opacity: 0;

	left: calc(50% - 111px/2);
	top: calc(50% - 9px/2 - 117.5px);

	transition: opacity .1s linear;
}

.menu__btn4:hover:after {
	opacity: 1;
}


.menu__btn4:hover {
	font-weight: bold;
	font-size: 14px;
	line-height: 16px;
	letter-spacing: 0.567739px;
	text-transform: uppercase;

	color: #262525;

	transition: font-weight .1s linear;
}

.menu__btn5 {
	font-weight: 300;
	font-size: 13px;
	line-height: 15px;
	letter-spacing: 0.567739px;
	cursor: pointer;

	position: relative;

	text-decoration: none;
	color: #505050;

	transition: color .1s linear;
}

.menu__btn5:after {
	content: "";
	position: static;
	display: block;
	width: 100%;
	height: 9px;

	background-color: #EBD8CC;
	opacity: 0;

	left: calc(50% - 111px/2);
	top: calc(50% - 9px/2 - 117.5px);

	transition: opacity .1s linear;
}

.menu__btn5:hover:after {
	opacity: 1;
}


.menu__btn5:hover {
	font-weight: bold;
	font-size: 14px;
	line-height: 16px;
	letter-spacing: 0.567739px;
	text-transform: uppercase;

	color: #262525;

	transition: font-weight .1s linear;
}
/*------------------------------------*/

/*content*/

.content {
	width: 1516px;
	height: 840px;
	display: block;
	position: relative;

	background: #F0F0F0;
	margin-top: -30px;
	margin-left: 343px;
}

.slider__track {
	display: flex;
}

.slide {
	z-index: 100;
	transition: left 0s .75s;
}
.slide-one {
	height: 840px;
	transition: all .6s ease;
}
.slide-two {
	height: 840px;
}
.slide-three {
	height: 840px;
}
.slide-four {
	height: 840px;
}
.slide-five {
	height: 840px;
}
.slide-six {
	height: 840px;
}

.slide__h1 {
	position: absolute;
	width: 435px;
	height: 53px;
	left: 172px;
	top: 326px;

	overflow: clip;
	font-weight: bold;
	font-size: 44px;
	line-height: 53px;
	letter-spacing: -0.0255199px;
	text-transform: uppercase;
	opacity: 0;
	transition: opacity .5s;
}

.slide__h2 {
	position: absolute;
	width: 435px;
	height: 90px;
	left: 172px;
	top: 420px;

	overflow: clip;
	font-weight: normal;
	font-size: 18px;
	line-height: 30px;
	letter-spacing: -0.0220791px;
	opacity: 0;
	transition: opacity .5s;
}
.slide6__h1 {
	position: absolute;
	width: 435px;
	height: 106px;
	left: 172px;
	top: 314px;

	overflow: clip;
	font-weight: bold;
	font-size: 44px;
	line-height: 53px;
	letter-spacing: -0.0255199px;
	text-transform: uppercase;
	opacity: 0;
	transition: opacity .5s;
}

.slide6__h2 {
	position: absolute;
	width: 435px;
	height: 60px;
	left: 172px;
	top: 467px;

	overflow: clip;
	font-weight: normal;
	font-size: 18px;
	line-height: 30px;
	letter-spacing: -0.0220791px;
	opacity: 0;
	transition: opacity .5s;
}

.pg {
	font-weight: 300;
	font-size: 17px;
	line-height: 20px;
	text-align: center;

	display: flex;
	flex-direction: row;
	padding: 0px;
	letter-spacing: 6px;
	opacity: 0;
	transition: opacity .5s;

	position: absolute;
	width: 34px;
	height: 20px;
	left: 172px;
	top: 661px;
}


.photo {
	width: 700px;
	height: 839px;
	display: block;
	position: absolute;
	left: 0;
	opacity: 0;

	transition: opacity .5s;
	margin-left: 759px;
	z-index: 10;
}

#btn {
	position: absolute;
	width: 28px;
	height: 28px;

	color: #ffffff;
	background: #262525;
}

[id^='slide']:checked + .slide {
	left: 0;
	z-index: 150;
	transition: left .65s ease-out;
}
[id^='slide']:checked + .slide h1 {
	opacity: 1;
	transition: all .5s .5s;
}
[id^='slide']:checked + .slide h2 {
	opacity: 1;
	transition: all .5s .5s;
}
[id^='slide']:checked + .slide .pg {
	opacity: 1;
	transition: all .5s .5s;
}
[id^='slide']:checked + .slide .photo {
	left: 0;
	opacity: 1;
	transition: all .5s .5s;
}


input {
	opacity: 0;
}
/*------------------------------------*/

/*footer*/
.footer {
	position: absolute;
	width: 1920px;
	height: 60px;
	margin-top: 900px;
	top: 0;
	left: 0;
}

.footer__inner {
	display: flex;
	align-items: left;
}

.footer__text {
	display: inline-block;
	vertical-align: top;
	margin: 23px;
	margin-left: 60px;
	position: relative;

	text-align: right;
	text-transform: uppercase;
	color: #262525;
}
/*------------------------------------*/